
.userbox {
  margin: 0.4em auto;
  padding: 0.1em;
  border-radius: 1em;
  background-color: lavender;
  /* width: 20%; */
}
​
.leftpanel {
  vertical-align: top;
  border: 1px solid black;
  padding: 0.6em;
  display: inline-block;
  margin: 1em;
  width: 20%;
}

.rightpanel {
  vertical-align: top;
  border: 1px solid black;
  padding: 0.6em;
  display: inline-block;
  margin: 1em;
  width: 20%;
}

.App {
  text-align: center;
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
